[Desktop Entry]
Type=Application
Name=WhYModem
Comment=Serial YMODEM transfer tool
Exec=WhYModem
Icon=io.geekat.WhYModem
Terminal=false
Categories=Utility;Development;
StartupNotify=true
