[Desktop Entry]
Type=Application
Name=WhYModem
Comment=Serial YMODEM transfer tool
Exec=WhYModem
Icon=io.geekat.whymodem
Terminal=false
Categories=Utility;
StartupNotify=true
StartupWMClass=WhYModem
